{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<form class="col-md-5" action="" method="POST" autocomplete="off">
    {% csrf_token %}
    {{form.id_tipo_acao_disciplinar|as_crispy_field}}
    {{form.comentario|as_crispy_field}}
    {{form.tempo_jogo|as_crispy_field}}
    <div class="col-md-3">
        <button type="submit" class="btn btn-success btn-block btn-lg"><i class="fas fa-database"></i>
            Submit</button>
    </div>

    </div>
</form>

{% endblock content %}