<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Projeto de BD</title>
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Projeto_BD</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="/">Home
                    <a class="nav-item nav-link" href="/list">Listar tabelas</a>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Adicionar
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/create/acao_discip">Ação Disciplinar</a></li>
                            <li><a class="dropdown-item" href="/create/campeonatos">Campeonatos</a></li>
                            <li><a class="dropdown-item" href="/create/campeonatos_jogos_jquipas">Campeonatos Jogos Equipas</a></li>
                            <li><a class="dropdown-item" href="/create/clube">Clube</a></li>
                            <li><a class="dropdown-item" href="/create/epoca">Épocas</a></li>
                            <li><a class="dropdown-item" href="/create/equipa">Equipa</a></li>
                            <li><a class="dropdown-item" href="/create/jogador">Jogador</a></li>
                            <!-- <li><a class="dropdown-item" href="/create/jogador_jogos_equipa">Jogador jogos equipa </li></a> -->
                            <!-- <li><a class="dropdown-item" href="/create/jogam">jogam</a></li> -->
                            <li><a class="dropdown-item" href="/create/jogos">jogos</a></li>
                            <!-- <li><a class="dropdown-item" href="/create/jogos_jogadores_acoesdiscip">jogos jogadores acoes discip</a></li> -->
                            <li><a class="dropdown-item" href="/create/modalidades">modalidades</a></li>
                            <li><a class="dropdown-item" href="/create/pontuacoes">pontuacoes</a></li>
                            <!-- <li><a class="dropdown-item" href="/create/pontuacoes_jogadores_jogos">pontuacoes jogadores jogos</a></li> -->
                            <li><a class="dropdown-item" href="/create/substituicoes">Substituicoes</a></li>
                            <li><a class="dropdown-item" href="/create/tipos_acao_disciplinar">Tipos de acao disciplinar</a></li>
                            <li><a class="dropdown-item" href="/create/tipos_de_pontuacao">Tipo de pontuacao</a></li>

                        </ul>
                    </li>
            </div>
        </div>
    </nav>
    <main class="div_total">

    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>


</body>

</html>