{% extends "base.html" %}

{% block content %}



<div class="accordion" id="accordionExample">

    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Lista #1
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <strong>Conteudo</strong> 

          <table class="table table-borderless">
            <thead class="border-bottom font-weight-bold">
                <tr>
                    <td>Nome</td>
                    <td>Data Nascimento</td>
                    <td>Telemovel</td>
                    <td>Altura</td>
                    <td>Naturalidade</td>
                    <td>
                        <a href="" class="btn btn-outline-success">
                            <i class="fas fa-plus"></i> Adicionar Jogador
                        </a>
                    </td>
                   
                </tr>
            </thead>
            <tbody>
                {% for jogadores in jogador_list %}
                    <tr>
                        <td>{{jogadores.nome}}</td>
                        <td>{{jogadores.data_nascimento}}</td>
                        <td>{{jogadores.telemovel}}</td>
                        <td>{{jogadores.altura}}</td>
                        <td>{{jogadores.naturalidade}}</td>
                        <td>
                            <a href="" class="btn text-secondary px-0">
                                <i class="far fa-edit fa-lg"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Lista #2
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
        <div class="accordion-body">
            <strong>Conteudo</strong> 
        </div>
      </div>
    </div>

    <div class="accordion-item">
      <h2 class="accordion-header" id="headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Lista #3
        </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
        <div class="accordion-body">
            <strong>Conteudo</strong> 
        </div>
      </div>
    </div>
  </div>


{% endblock content %}